body {
    background-color: rgba(163, 145, 230, 0.58);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
nav{
    font-family: 'Ubuntu', sans-serif;
}
nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 80px;
    width: 1000px;
    background-color: rgb(62, 65, 235);
    color: white;
}

nav ul li{
    padding: 0 12px;
}
.container {
    background-color: #fff;
    width: 300px;
    height: 8cm;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-top: 0;
}

input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    background-color: rgba(216, 221, 222, 0.459);
    padding: 1px;
    height: 1cm;
    width: 7.8cm;
    margin-top: 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    border: 1px solid ;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    margin-top: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#messages {
    color: blueviolet;
    margin-top: 10px;
}
#message {
    color:red;
}
